{% extends "words/layout.html" %}
{% load static %}
{% block body %}
    <!-- Header-->
    <header class="py-4">
        <div class="container px-5 pb-5">
            <h1 id="maintitle" class="d-flex fs-3 fw-light mb-4">Quote of the Day:</h1>
            <div id="index" class="row gx-5 justify-content-center">
                <div class="d-flex">
                    <!-- Header text content -->
                    <div class="text-center text-xxl-start">
                        <div id="thecategory" class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">{{ category }}</div></div>
                        <div id="theauthor" class="fs-3 fw-light text-muted">{{ qod.author }}</div>
                        <h1 class="display-3 fw-bolder mb-5"><span id="thequote" class="text-gradient d-inline" data-quoteid={{ qod.id }}>{{ qod.quote }}</span></h1>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                            <a id="prevbtn" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="#">Previous</a>
                            <a id="nextbtn" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="#">Next</a>
                            <a id="randombtn" class="btn btn-outline-secondary btn-lg px-5 py-3 fs-6 fw-bolder" href="#">Random</a>
                            {% if user.is_authenticated %}
                                <a id="bookmarkbtn" class="btn btn-outline-bookmark btn-lg" href="#">
                                    <img
                                    id="bookmarkicon"
                                    data-checkicon="{% static 'words/assets/bookmark-check.svg' %}"
                                    data-plusicon="{% static 'words/assets/bookmark-plus.svg' %}"
                                    src="{% if isBookmarked %}{% static 'words/assets/bookmark-check.svg' %}{% else %}{% static 'words/assets/bookmark-plus.svg' %}{% endif %}" alt="Icon">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}